[build]
  command = "npm install && npm run build"
  publish = "dist"

[build.environment]
  VITE_API_URL = "https://cultural-alikee-open-road-00c3b62c.koyeb.app"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
